<div class="min-h-screen p-4 md:p-8">
    <div class="max-w-4xl mx-auto mt-12">
        TODO movie has value
        <button  (click)="goBack()"
        class ="flex items-center gap-2 mb-8 transition-color text-netflix-red hover:text-netflix-red/80">
               go back
        </button>

        @if(movie.hasValue()){
            @let movieData = movie.value();
            <div class="grid gap-8 mt-12 md:grid-cols-2">
                <img [src]="'https://image.tmdb.org/t/p/w500'+ movieData?.poster_path" [alt]="movieData?.title" class ="w-full rounded-lg">
            </div>

        }

    </div>
</div>